/* Animation classes */
.slide-left {
    animation-name: slideLeft;
    animation-duration: 250ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
  
.slide-right {
    animation-name: slideRight;
    animation-duration: 250ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
  
.appear {
    animation-name: appear;
    animation-duration: 200ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
  
.disappear {
    animation-name: disappear;
    animation-duration: 200ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}  

.jiggle-horizontal {
  animation-name: jiggleHorizontal;
  animation-duration: 500ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}  

.jiggle-vertical {
  animation-name: jiggleVertical;
  animation-duration: 500ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}  


/* Keyframes */
@keyframes slideLeft {
    from {
      transform: translateX(0);
    }
  
    to {
      transform: translateX(-12.5vw);
    }
}
  
@keyframes slideRight {
    from {
      transform: translateX(-12.5vw);
    }
  
    to {
      transform: translateX(0);
    }
}
  
@keyframes appear {
    from {
      opacity: 0%;
    }
  
    to {
      opacity: 100%;;
    }
}
  
@keyframes disappear {
    from {
      opacity: 100%;
    }
  
    to {
      opacity: 0%;;
    }
}

@keyframes jiggleHorizontal {
  0% {transform: translateX(-0.175vw);}
  33% {transform: translateX(-0.175vw);}
  66% {transform: translateX(0.175vw);}
  100% {transform: translateX(0.175vw);}
}

@keyframes jiggleVertical {
  0% {transform: translateY(-0.2vh);}
  33% {transform: translateY(-0.2vh);}
  66% {transform: translateY(0.2vh);}
  100% {transform: translateY(0.2vh);}
}

/* Utilities */

.text-outline {
  -webkit-text-stroke: 0.215vmin #141414;
}